{
  "endOfLine": "lf",                
  "printWidth": 100,                
  "tabWidth": 2,                    
  "singleQuote": true,              
  "bracketSameLine": true,          
  "trailingComma": "es5",           
  "semi": true,                     
  "arrowParens": "avoid",           
  "jsxSingleQuote": false           
}
